
h3{ color : brown;}
li:focus {color : rgb(237, 255, 201);}  
li:visited {background : red}
p{background : #90D000; 
    width : 300px;
    padding : 20px; 
    }
    #round1 { border-radius : 50px; }
border-image : url(“https://cdn.pixabay.com/photo/2020/02/06/01/52/frame-4822807_1280.png”)  30  round;