<!DOCTYPE html>
<html>
  <head>
    <title>이음동의어</title>
  </head>
  <body>
    <h1>이음동의어</h1>
    <form method="POST">
      <label for="input_text">영어 문장 입력 </label>
      <input type="text" name="input_text" id="input_text">
      <button type="submit">이음동의어 확인</button>
    </form>
    {% if input_text %}
      <h2>원문:</h2>
      <p>{{ input_text }}</p>
      <h2>이음동의어:</h2>
      <ul>
        {% for paraphrase in paraphrases %}
          <li>{{ paraphrase }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>