{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">
<!-- 질문 목록들을 담는 question_list 페이지-->

<div class="container my-1 justify-content-end">
  <div class="card mb-3">
    <div class="container my-3">
<!--카드 형태-->
<!-- Card with an image on bottom -->
  {% if question_list %}
  {% for question in question_list.items %}
  <div>
  <div class="col-lg-3">
  </div>
     <div class="card">
       <h5 class="card-header"><a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a></h5>
       <div style="text-align: right;">
         <h8>작성자 : </h8>
          <div class="badge bg-light text-dark p-3">{{ question.user.username }}</div>
       <h7 class="card-body">{{ question.create_date|datetime }}
         </h7>
       </div>
       <div class="card-body" style="white-space : pre-line">{{ question.content }}
       </div>
   </div>
  </div>
    {% endfor %}
    {% endif %}
</div></div>
<!-- End Card with an image on bottom -->


<!--페이징 처리 시작(paginate 함수 사용)-->
<ul class="pagination justify-content-center">
<!--이전페이지-->
  {% if question_list.has_prev %}
  <li class="page-item">
    <a class="page-link" data-page="{{ question_list.prev_num }}" href="javascript:void(0)">이전</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" tabindex="-1" area-disabled="true" href="javascript:void(0)">이전</a>
  </li>
  {% endif %}
<!--페이지번호-->
  {% for page_num in question_list.iter_pages() %}
  {% if page_num %}
  {% if page_num != question_list.page %}
  <li class="page-item">
    <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
  </li>
  {% else %}
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
  </li>
  {% endif %}
  {% else %}
  <li class="disabled">
    <a class="page-link" href="javascript:void(0)">...</a>
  </li>
  {% endif %}
  {% endfor %}
<!--다음 페이지-->
  {% if question_list.has_next %}
  <li class="page-item">
    <a class="page-link" data-page="{{ question_list.next_num }}" href="javascript:void(0)">다음</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
  </li>
  {% endif %}
</ul>
</div>
<!-- 페이징 처리 끝-->
<div class="container">
<div class="row my-4">
  <div class="col-6">
    <a href="{{ url_for('question.create') }}" class = "btn btn-primary">일기 쓰러가기</a>
  </div>

  <div class="col-6">
<!--질문 등록 버튼-->
    <div class="input-group">
       <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}" placeholder="게시글과 댓글이 함께 검색됩니다">
         <div class="input-group-append">
           <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
         </div>
    </div>
  </div>
</div>
</div>
<!--GET 방식으로 요청할 수 있는 FORM 엘리먼트-->
  <form id="searchForm" method="get" action="{{ url_for('question._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
  </form>
</main>
  <!-- End #main -->
{% endblock %}
{% block script %}
<script type="text/javascript">
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
  element.addEventListener('click', function() {
    document.getElementById('page').value = this.dataset.page;
    document.getElementById('searchForm').submit();
  });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
  document.getElementById('kw').value = document.getElementById('search_kw').value;
  document.getElementById('page').value = 1;
  document.getElementById('searchForm').submit();
});
</script>
{% endblock %}