{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">
<!-- 질문 목록들을 담는 question_list 페이지-->

<div class="container my-1 justify-content-end">
  <div class="card mb-3">
    <div class="container my-3">
<!--카드 형태-->
<!-- Card with an image on bottom -->
  {% if question_list %}
  {% for question in question_list.items %}
  <div>
  <div class="col-lg-3">
  </div>
     <div class="card">
       <h5 class="card-header"><a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a></h5>
       <div style="text-align: right;">
         <h8>작성자 : </h8>
          <div class="badge bg-light text-dark p-3">{{ question.user.username }}</div>
       <h7 class="card-body">{{ question.create_date|datetime }}
         </h7>
       </div>
       <div class="card-body">{{ question.content }}
       </div>
   </div>
  </div>
    {% endfor %}
    {% endif %}
</div></div>
<!-- End Card with an image on bottom -->

<!--페이징 처리 시작(paginate 함수 사용)-->
<ul class="pagination justify-content-center">
<!--이전페이지-->
  {% if question_list.has_prev %}
  <li class="page-item">
    <a class="page-link" href="?page={{ question_list.prev_num }}">이전</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" tabindex="-1" area-disabled="true" href="javascript:void(0)">이전</a>
  </li>
  {% endif %}
<!--페이지번호-->
  {% for page_num in question_list.iter_pages() %}
  {% if page_num %}
  {% if page_num != question_list.page %}
  <li class="page-item">
    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
  </li>
  {% else %}
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
  </li>
  {% endif %}
  {% else %}
  <li class="disabled">
    <a class="page-link" href="javascript:void(0)">...</a>
  </li>
  {% endif %}
  {% endfor %}
<!--다음 페이지-->
  {% if question_list.has_next %}
  <li class="page-item">
    <a class="page-link" href="?page={{ question_list.next_num }}">다음</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
  </li>
  {% endif %}
</ul>
<!-- 페이징 처리 끝-->
<!--질문 등록 버튼-->
    <div>
  <a href="{{ url_for('question.create') }}" class = "btn btn-primary">일기 쓰러가기</a>
      </div>
</div>
</main>
  <!-- End #main -->
{% endblock %}
